<% layout('base') -%>
<div class="panel">
	<h2>Edit Order</h2>
	<% if(message.error) { %>
		<div class="alert alert-danger"><%= message.error %></div>
	<% } %>
	<div class="panel panel-default">
        <div class="form-panel">
			<% data.forEach(function(details) { %>
			<form action="/order-edit/<%= details._id %>" method="POST">
				<div class="form-group">
					<select class="form-control" name="customer">
						<% details.customers.forEach(function(customer) { %>
							<option value="<%=customer.id%>" selected="selected"><%=customer.name%></option>
						<% }) %>
					</select>
				</div>
				<div class="form-group">
					<select class="form-control" name="product">
						<% details.products.forEach(function(product) { %>
							<option value="<%=product.id%>" selected="selected"><%=product.name%></option>
						<% }) %>
					</select>
				</div>
				<div class="form-group">
					<input type="number" class="form-control" value="<%= details.quantity %>" name="quantity" required="true" autofocus><br>
				</div>
				<div class="form-group">
					<input type="datetime-local" class="form-control" value="<%= details.deliveryDate %>" name="deliveryDate" required="true" autofocus><br>
				</div>
				<div class="form-group">
                    <textarea class="form-control" placeholder="Note" name="note" required="true" autofocus><%= details.note %></textarea>
                </div>
				<a href="/orders" class="btn btn-default"><i class="fa fa-arrow-left"></i> Back</a>
				<button type="submit" class="btn btn-primary"><i class="fa fa-hdd-o"></i> Save</button><br>
			</form>
			<% }) %>
		</div>
	</div>
</div>